@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss"; */

@layer components {
   .main-container-width {
      @apply w-5/6 sm:w-3/4 lg:w-[550px] justify-self-center items-center;
   }

   .section-container {
      @apply border border-[var(--dark-navy-purple3)] border-4 rounded-xl text-white main-container-width cursor-pointer mb-4;
   }

   .center {
      @apply flex justify-center;
   }
}

@theme {
  --breakpoint-smm: 668px;  
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: var(--main-font);
   background-color: var(--dark-navy-purple1);
   color: var(--off-white);
}

html {
   scroll-behavior: smooth;
}

:root {
--white: #fff;
--off-white: #f5f5f5d3;
--black: #111;
--dark-navy-purple1: #221825;
--dark-navy-purple2: #1d1d22;
--dark-navy-purple3: #3d3044be;
--lilac: #c493dd;
--lilac2: #9e67b4;
--grey: #868585; 
--navy-purple: #5e416ebe;
--purple: #744288;
--pink: #be3f93;
--main-font: system-ui, Avenir, Helvetica, Arial, sans-serif;
}