@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: var(--main-font);
   background-color: var(--dark-navy-purple1);
}

html {
   scroll-behavior: smooth;
}

:root {
--white: #fff;
--black: #111;
--dark-navy-purple1: #19121b;
--dark-navy-purple2: #1d1d22;
--dark-navy-purple3: #3d3044be;
--lilac: #c493dd;
--lilac2: #9e67b4;
--grey: #868585; 
--navy-purple: #5e416ebe;
--purple: #744288;
--pink: #be3f93;
--main-font: 'Poppins', sans-serif;
}